.container
	.footer
		hr(style='margin: 30px 0 10px 0;')
		p &copy;&nbsp;
			a(href='#') Author
			&nbsp;2013

link(rel='stylesheet', href='/assets/css/bootstrap-responsive.min.css')
// link(rel='stylesheet', href='/assets/css/ng-grid.css')
// link(rel='stylesheet', href='/assets/css/style.css')
script(src='/assets/js/vendor/jquery-1.10.1.min.js')
script(src='/assets/js/vendor/angular-1.0.8.min.js')
// script(src='/assets/js/vendor/angular-sanitize.js')
script(src='/assets/js/vendor/bootstrap.min.js')
script(src='/assets/js/vendor/underscore-min.js')
// ng-grid changed to fixed the page number issue

script(src='/assets/js/app.js')
script(src='/assets/js/controllers/test.js')

script(src='/assets/js/controllers/main.js')
script(src='/assets/js/controllers/login.js')
script(src='/assets/js/controllers/letsread.js')


block footer