.container
	.footer
		hr(style='margin: 30px 0 10px 0;')
		p &copy;&nbsp;
			a(href='#') Author
			&nbsp;2013

link(rel='stylesheet', href='/assets/css/bootstrap-responsive.min.css')
link(rel='stylesheet', href='/assets/css/ng-grid.css')
link(rel='stylesheet', href='/assets/css/style.css')
script(src='/assets/js/vendor/jquery.v1.8.3.min.js')
script(src='/assets/js/vendor/angular-1.0.8.min.js')
script(src='/assets/js/vendor/angular-sanitize.js')
script(src='/assets/js/vendor/bootstrap.min.js')
script(src='/assets/js/vendor/underscore.js')
script(src='/assets/js/vendor/ng-grid-2.0.7.debug.js')  
// ng-grid changed to fixed the page number issue
script(src='/assets/js/vendor/Chart.js')
script(src='/assets/js/vendor/legend.js')
script(src='/assets/js/app.js')
script(src='/assets/js/controllers/grid.js')
script(src='/assets/js/controllers/admin-vulns.js')
// script(src='/assets/js/controllers/filter.js')
script(src='/assets/js/controllers/detail-view.js')
script(src='/assets/js/controllers/login.js')
script(src='/assets/js/controllers/main.js')
script(src='/assets/js/controllers/test.js')
script(src='/assets/js/controllers/stats.js')
script(src='/assets/js/services/filters.js ')
script(src='/assets/js/services/vulns.js')
script(src='/assets/js/directives/my-vulndb-logo.js')
script(src='/assets/js/directives/delayed-input.js')

block footer