doctype 5
html(lang="en")
  head
    title pageTitle
  body
    form#form1(action="#")
      div url:
        input#urlFrame(type="text", name="url", size="100")
        input(type="submit",  value="Go")
    
    
    iframe#frame1(src="/page.html", width="90%", height="500")
    script(src="/js/vendor/jquery-1.10.1.min.js")
    script(src="/js/vendor/underscore-min.js")
    script(src="/js/sync.js")